@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --color-black: #395144;
}

/* Styles order 
    1.- Dimenciones
    2.- Modelo de caja
    3.- Background
    4.- Posicionamiento (Display) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Itim', cursive;
    color: white;
}
body {
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 20px;
    font-size: 3.2rem;
    max-width: 150px;
}
.select-pet{
    margin: 20px;
    flex-direction: column;
    align-items: center;
}
.select-pet--subtitle{
    font-size: 2.2rem;
    text-align: center;
}
.select-pet--container{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.select-pet--card{
    width: 180px;
    height: 200px;
    background-color: transparent;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 20px;
    border: 2px solid white;
    border-radius: 30px;
}
.select-pet--card__img-box{
    width: 90px;
    height: 90px;
}
.select-pet--card__img-box img{
    width: 100%;
    height: 100%;
}
.select-pet--card__input-box{
    display: flex;
    align-items: center;
}
.select-pet--card__input-box input{
    margin: 5px;
    cursor: pointer;
}
.select-pet--button-box{
    width: 120px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
}
.select-pet--button-box button{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Itim', cursive;
}
.select-attack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select-attack--subtitle{
    margin: 20px;
    font-size: 2.2rem;
    text-align: center;
}
.select-attack--paragraph{
    margin: 20px;
    font-size: 1.8rem;
}
.select-attack--buttons-box{
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.select-attack--buttons-box button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Itim', cursive;
    font-size: 1.6rem;
}
.messages{
    margin-bottom: 50px;
}
.messages p {
    margin: 12px;
    font-size: 1.6rem;
}
.reload{
    width: 100px;
    height: 40px;
    margin: 20px;
}
.reload button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-family: 'Itim', cursive;
    font-size: 1.6rem;
    cursor: pointer;
}

@media (max-width: 400px) {
    .select-pet--subtitle{
        font-size: 1.8rem;
    }
    .select-pet--card{
        width: 150px;
        height: 120px;
        font-size: 1.2rem;
        margin: 10px;
        border-radius: 20px;
    }
    .select-pet--card__img-box{
        width: 60px;
        height: 60px;
    }
    .select-attack--paragraph{
        margin: 20px;
        font-size: 1.4rem;
    }
    .select-attack--buttons-box{
        width: 200px;
        height: 160px;
        flex-direction: column;
    }
    .select-attack--buttons-box button{
        width: 100px;
        height: 40px;
    }
}